@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Onama";
}
<form action="/" method="post">
    <div class="row">
        <p class="onama text-center">
            Razvoj aplikacije Studfile započele su studentice: Jelena Galić, Monika Raguž i Marija Ravlić  <br />
            tijekom pohađanja kolegija Razvoj poslovnih aplikacija na Ekonomskom fakultetu u Osijeku. <br />
            Aplikaciju je završila studentica Marija Ravlić, kao praktični dio završnog rada pod nazivom <br />
            "Proces izrade web aplikacije za upravljanje seminarskim radovima pomoću alata Visual studio", <br /> 
            uz mentorstvo prof.dr.sc. Marijane Zekić-Sušac te mag.oec. Saše Mitrovića.
            <br /><br />
        </p>
    </div>
    <div class="row">
        <div class="responsive col-md-4 col-sm-6 col-xs-12">
            <div class="gallery">
                <a target="_blank" href="~/jelena.jpeg">
                    <img src="~/jelena.jpeg" alt="Jelena Galić">
                </a>
                <div class="desc">Jelena Galić <br />dizajner, back-end developer</div>
            </div>
        </div>
        <div class="responsive col-md-4 col-sm-6 col-xs-12">
            <div class="gallery">
                <a target="_blank" href="~/monika.jpeg">
                    <img src="~/monika.jpeg" alt="Monika Raguz">
                </a>
                <div class="desc">Moninka Raguž <br /> dizajner</div>
            </div>
        </div>
        <div class="responsive col-md-4 col-sm-6 col-xs-12">
            <div class="gallery">
                <a target="_blank" href="~/marija.jpg">
                    <img src="~/marija.jpg" alt="Marija Ravlic">
                </a>
                <div class="desc">Marija Ravlić <br />back-end developer, dizajner, front-end developer</div>
            </div>
        </div>
    </div>
    <br />
    
    </div>

</form>
