@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Onama";
}
<form action="/" method="post">
    <div class="row">
        <p class="onama text-center">
            Aplikaciju Studfile napravili su studenti Ekonomskog fakulteta u Osijeku u sklopu kolegija Razvoj poslovnih aplikacija. <br />
            Aplikacija je napravljena uz mentorstvo prof.dr.sc. Marijane Zekić-Sušac te mag.oec. Saše Mitrovića te suradnju sljedećih studenata:
            <br /><br />
        </p>
    </div>
    <div class="row">
        <div class="responsive col-md-4 col-sm-6 col-xs-12">
            <div class="gallery">
                <a target="_blank" href="~/jelena.jpeg">
                    <img src="~/jelena.jpeg" alt="Jelena Galić">
                </a>
                <div class="desc">Jelena Galić <br /> back-end developer</div>
            </div>
        </div>
        <div class="responsive col-md-4 col-sm-6 col-xs-12">
            <div class="gallery">
                <a target="_blank" href="~/monika.jpeg">
                    <img src="~/monika.jpeg" alt="Monika Raguz">
                </a>
                <div class="desc">Moninka Raguž <br /> dizajner</div>
            </div>
        </div>
        <div class="responsive col-md-4 col-sm-6 col-xs-12">
            <div class="gallery">
                <a target="_blank" href="~/marija.jpg">
                    <img src="~/marija.jpg" alt="Marija Ravlic">
                </a>
                <div class="desc">Marija Ravlić <br /> front-end developer</div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="responsive col-md-4 col-md-offset-2">
            <div class="gallery">
                <a target="_blank" href="~/aco.jpg">
                    <img src="~/aco.jpg" alt="tester">
                </a>
                <div class="desc">Aleksandar Filipović <br /> tester</div>
            </div>
        </div>

        <div class="responsive col-md-4">
            <div class="gallery">
                <a target="_blank" href="~/vlatko.jpg">
                    <img src="~/vlatko.jpg" alt="Vlatko Ilancic">
                </a>
                <div class="desc">Vlatko Ilančić <br /> SCRUM master </div>
            </div>
        </div>


    </div>

</form>
